$primary: #a4b0be
$secondary: #747d8c
$tertiary: #57606f
$quaternary: #2f3542
$event: #e6e6e6

*
    margin: 0
    padding: 0
    font-family: Arial, Helvetica, sans-serif

header
    background-color: $primary
    color: $quaternary
    padding: 10px
    text-align: center
    & h1
        font-family: monospace
    & h2
        font-weight: 900

main
    padding: 20px
    margin: auto
    background: $tertiary

footer
    background-color: $primary
    color: $quaternary
    padding: 10px
    text-align: center

.container
    max-width: 800px
    background: $quaternary
    color: $primary
    margin: auto
    padding: 10px
    border-radius: 5px

.info
    padding: 10px
    margin: 10px
    border-radius: 5px
    background: $event
    color: $quaternary
    & h1
        font-weight: 900
    & p
        font-size: 14px
    & ul
        list-style: none
        display: block
        & li
            margin-top: 10px
            margin-bottom: 10px
            font-size: 17px
            & a
                color: $tertiary
